<!DOCTYPE html>
<html>
    <head>
        <title>Onion Finder</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='myownstyle.css') }}"> -->
        <link rel="stylesheet" href="../static/myownstyle.css">
    </head>
    <body>

        <div class="container upper-margin">
            <div class="row text-center">
                <div class="col-xl">
                    <h1>Onion Finder</h1>
                </div>
                
            </div>
        </div>
        <div class="container">
            <form class="row text-center" action="{{ url_for('search') }}" method="GET">
                <div class="col-11">
                    <input id="searchtext" name="searchtext" type="text" style="width:90%">
                </div>
                <div class="col-1">
                    <input id="givesearch" type="submit" value="搜尋" onclick="senddata()">
                </div>
                <input type="hidden" name="page" value="0">
            </form>
        </div>
        


        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
    <script>
        function senddata() {
            var thekeystr = $("#searchtext").val();
            
        } 
    </script>
</html>