.vertical-align {
    display: flex;
    align-items: center;
}

.upper-margin {
    margin-top:20%;
}

.hide-link {
    color: inherit;
    text-decoration: inherit;
}

em {
    color: #dd4b39;
    font-weight: bold;
}